<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Lista de Productos - EJS</title>
</head>
<body>
    <h2 class="text-primary m-3 me-auto text-center">Vista de Productos</h2>
    <% if(prod.length > 0){ %>
        <div class="table-responsive p-3">
            <table class="table table-dark">
                <tr>
                    <th class="text-center"><b>ID</b></th> 
                    <th class="text-center"><b>Nombre</b></th> 
                    <th class="text-center"><b>Precio</b></th> 
                    <th class="text-center"><b>URL</b></th> 
                </tr>
                    <% for (const producto of prod) {%>
                <tr> 
                    <td class="text-center text-light"><%=producto.id%></td>
                    <td class="text-center text-light"><%=producto.title%></td>
                    <td class="text-center text-light">$ <%=producto.price%></td>
                    <td class="text-center text-light"><%=producto.thumbnail%></td>
                </tr>
                <%};%>
            </table>
        </div>
    <% } else{ %>
        <h3 class="alert alert-warning m-5">No se encontraron productos</h1>
    <% } %>
    <a href="./home"><button class="btn btn-danger m-5">Volver</button></a>
</body>
</html>